@mixin generate-spacing-classes(
  $default-space-amounts-with-direction: ( 0 left l, 5 left l, 10 left l, 20 left l, 30 left l, 40 left l)
) {
  @each $space in $default-space-amounts-with-direction {
    .m#{nth($space, 3)}-#{nth($space, 1)} {
      margin-#{nth($space, 2)}: #{nth($space, 1)}px;
    }
  }
	@each $space in $default-space-amounts-with-direction {
		.p#{nth($space, 3)}-#{nth($space, 1)} {
			padding-#{nth($space, 2)}: #{nth($space, 1)}px;
		}
	}
}

@include generate-spacing-classes();


$right-space-vars: (0 right r, 5 right r, 10 right r, 20 right r, 30 right r, 40 right r, 60 right r, 80 right r);
$bottom-space-vars: (0 bottom b, 5 bottom b, 10 bottom b, 20 bottom b, 30 bottom b, 40 bottom b, 60 bottom b, 80 bottom b);
$top-space-vars: (0 top t, 5 top t, 10 top t, 20 top t, 30 top t, 40 top t, 60 top t, 80 top t, 40 top t);

@include generate-spacing-classes(); // left comes by default
@include generate-spacing-classes($right-space-vars);
@include generate-spacing-classes($bottom-space-vars);
@include generate-spacing-classes($top-space-vars);